* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 70%;
  height: auto;
  cursor: pointer;
  margin-bottom: 20px;
}

p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.para {
  display: none;
}

.hidden {
  display: none;
}